body {
    font-family: "Poppins", sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    background-color: #D6E4F9;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container principal */
.container {
    border-radius: 12px;
    box-shadow: none;
    width: 90%;
    display: flex;
    gap: 32px;
    align-items: stretch;
    justify-content: center;
    padding: 24px;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 90vh;
}

/* Lado esquerdo */
.left {
    flex: 1 1 50%;
    background-color: #89c6ec;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.left h2 {
    font-size: clamp(18px, 2.2vw, 24px);
    color: #003366;
    margin-bottom: 16px;
}

.depoimento {
    margin-top: 100px;
    background: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 20px;
    max-width: 360px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.depoimento img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 16px;
}

.depoimento strong {
    display: block;
}

/* Lado direito */
.right {
    flex: 1 1 50%;
    padding: 40px;
    background: #F7F7F7;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

form {
    margin-top: 24px;
    max-width: 420px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 13px 15px;
    margin-bottom: 16px;
    border: 2px solid #2aa4e1;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.08);
}

button {
    padding: 12px 20px;
    background: #74ACFF;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    position: fixed;
    bottom: 100px;
    right: 390px;
}

button:hover {
    background: #0056b3;
}

/* Responsividade */
@media (max-width: 960px) {
    .container {
        flex-direction: column;
        gap: 20px;
        padding: 16px;
        min-height: unset;
    }
    .left, .right {
        flex: 1 1 auto;
        padding: 24px;
    }
    .depoimento {
        max-width: 100%;
        overflow: hidden;
    }
}

/* Nome PeTinder no canto superior esquerdo */
.topo {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.logo-nome {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 2rem;
  color: #007bff;
  margin: 0;
    position: absolute;
  top: 25px;
  right: 25px;
  width: 90px;
}

 /* Logo na Navbar */
        .navbar-brand-logo {
            color: var(--cor-primaria) !important;
            font-weight: 800; /* Extra-bold */
            font-size: 2.25rem; /* Tamanho do logo */
        }